
body {
      background-color: rgb(0, 0, 0);
		/* background-color: rgb(170, 80, 126);  */
        /* background-image: url("pattern.png");
  background-repeat: repeat-xy; */

  color:#ffffff;
  font-weight: 550;
  max-width: 1000px;
  margin:auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
		}

		@media only screen and (max-width: 800px){
  body {
        /* background-image: url("pattern.png");
  background-repeat: repeat-xy;
   */
  color:#000000;
  width:600px;
  font-weight: 550;
  font-size: 25;
margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    
			}


			.buttoncol {
		opacity: 1;
		width:15%;
		height:6%;
		transition: opacity 0.5s; 
    max-width:100px;
		font-size: 23px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		  font-weight: bold;
		text-decoration: none;
		outline: none;
		color: rgb(255, 255, 255);
		background-color:transparent;
		border: solid 2px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; 
	
		}

		.buttoncol:hover {background-color: rgb(255, 255, 255);color:#333131}
		
		.buttoncol:active {
		background-color:rgb(255, 255, 255);

		transform: translateY(4px);
    	
		}
  .inputcol{
    background-color:transparent;
    font-size:15px;
    color:rgb(255, 255, 255);
  
    max-width:45%;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:solid;
    border-width:3px;
    border-color:rgb(255, 255, 255);
  }

			.wsadButton {
        margin-left:1%;
		opacity: 1;
		width:8%;
		height:6%;
		transition: opacity 0.5s; 
    max-width:50px;
           margin-right:1%;

		font-size: 23px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		     font-weight:900;
		text-decoration: none;
		outline: none;
		color: rgb(233, 233, 233);
		background-color: transparent;
		border: solid 2px;


		}

		.wsadButton:hover {background-color: rgb(255, 255, 255);color:#000000}

		.wsadButton:active {
		background-color:rgb(255, 255, 255);
		transform: translateY(4px);




			

    	
		}

			.upDwnButton {
		opacity: 1;
		width:5%;
		height:2%;
		transition: opacity 0.5s; 
    max-width:50px;
      margin-right:10%;
    margin-left:-50%;
 margin-bottom:-1%;
		font-size: 18px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		font-weight:900;
		text-decoration: none;
		outline: none;
		color: rgb(250, 213, 2);
		background-color:transparent;
		border: none;
		border-radius:5px;

		}

		.upDwnButton:hover {background-color: rgb(235, 223, 58);color:#333131}

		.upDwnButton:active {
		background-color:rgb(235, 223, 58);

		transform: translateY(4px);
    	
		}

    			.swapButton {
       
		opacity: 1;
		width:5%;
		height:2%;
		transition: opacity 0.5s; 
    max-width:50px;
   
 
		font-size: 35px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		font-weight:900;
		text-decoration: none;
		outline: none;
		color: rgb(255, 255, 255);
		background-color:transparent;
		border: none;
		border-radius:5px;

		}

		.swapButton:hover {	color: rgb(250, 213, 2);}

		.swapButton:active {
	

		transform: translateY(4px);
    	
		}

    #delayVal{
      	color: rgb(250, 213, 2);
        font-weight: 900;
    }
#loading{
  margin-top:23%;
  margin-bottom:25%;
  	color: rgb(250, 213, 2);
}

			#play {
		opacity: 1;
		width:8%;
		height:8%;
		transition: opacity 1s; 
    margin-right:15px;
    max-width:100px;
		font-size: 30px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		  font-weight: bold;
		text-decoration: none;
		outline: none;
		color: #333131;
		background-color: rgb(100, 193, 255);
		border: none;
		border-radius:5px;
		box-shadow: 0 9px  rgb(80, 120, 250);
		}

		#play:hover {background-color:#66ff48 ;box-shadow: 0 9px rgb(15, 182, 99);color:rgb(0, 87, 39);}

		#play:active {
			background-color: #9afb87 ;
			box-shadow: 0 9px  rgb(43, 238, 141);
		transform: translateY(4px);
    	
		}

    
			#stop {
		opacity: 1;
		width:8%;
		height:8%;
    
		transition: opacity 1s; 
    max-width:100px;
		font-size: 30px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		  font-weight: bold;
		text-decoration: none;
		outline: none;
		color: #333131;
		background-color: rgb(251, 241, 94);
		border: none;
		border-radius:5px;
		box-shadow: 0 9px  rgb(245, 173, 58);
        -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; 
		}

		#stop:hover {background-color:#ff5d48 ;box-shadow: 0 9px #f5471b;color:rgb(92, 5, 5);}

		#stop:active {
		background-color:#ff8575;
		box-shadow: 0 5px#fd5228;
		transform: translateY(4px);
    	
		}




	#previewMusicPlay {
		opacity: 1;
		width:8%;
		height:8%;
		transition: opacity 1s; 
    margin-right:15px;
    max-width:100px;
		font-size: 30px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		  font-weight: bold;
		text-decoration: none;
		outline: none;
		color: #333131;
		background-color: rgb(235, 223, 58);
		border: none;
		border-radius:5px;
		box-shadow: 0 9px  rgb(213, 190, 19);
		}

		#previewMusicPlay:hover {background-color:#66ff48 ;box-shadow: 0 9px #1bf588;color:rgb(0, 87, 39);}

		#previewMusicPlay:active {
		background-color:rgb(235, 223, 58);
		box-shadow: 0 5px rgb(213, 190, 19);
		transform: translateY(4px);
    	
		}

    
			#previewMusicStop {
		opacity: 1;
		width:8%;
		height:8%;
    
		transition: opacity 1s; 
    max-width:100px;
		font-size: 30px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		  font-weight: bold;
		text-decoration: none;
		outline: none;
		color: #333131;
		background-color: rgb(214, 214, 214);
		border: none;
		border-radius:5px;
		box-shadow: 0 9px  rgb(160, 159, 159);
		}

		#previewMusicStop:hover {background-color:#ff5d48 ;box-shadow: 0 9px #f5471b;color:rgb(92, 5, 5);}

		#previewMusicStop:active {
		background-color:rgb(235, 223, 58);
		box-shadow: 0 5px rgb(213, 190, 19);
		transform: translateY(4px);
    	
		}













    
	#preload {
		opacity: 1;
		width:8%;
		height:8%;
    
		transition: opacity 1s; 
    max-width:100px;
		font-size:23px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		  font-weight: bold;
		text-decoration: none;
		outline: none;
		color: white;
		background-color: transparent;
			border: solid 2px;
		}

		#preload:hover {background-color:#48d4ff ;color:rgb(92, 5, 5);}

		#preload:active {
		background-color:rgb(235, 223, 58);
		transform: translateY(4px);
    	
		}

	#previewMusic {
		opacity: 1;
		width:8%;
		height:8%;
    
		transition: opacity 1s; 
    max-width:100px;
		font-size:23px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		  font-weight: bold;
		text-decoration: none;
		outline: none;
		color: white;
		background-color: transparent;
			border: solid 2px;
		}

		#previewMusic:hover {background-color:#48d4ff;color:rgb(92, 5, 5);}

		#previewMusic:active {
		background-color:rgb(235, 223, 58);
		transform: translateY(4px);
    	
		}


    
	#exitRadio {
		opacity: 1;
		width:8%;
		height:8%;
    
		transition: opacity 1s; 
    max-width:100px;
		font-size:23px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		  font-weight: bold;
		text-decoration: none;
		outline: none;
		color: white;
		background-color: transparent;
			border: solid 2px;
		}

		#exitRadio:hover {background-color:#48d4ff;color:rgb(92, 5, 5);}

		#exitRadio:active {
		background-color:rgb(235, 223, 58);
		transform: translateY(4px);
    	
		}
    	#showOtherOpt {
		opacity: 1;
		width:8%;
		height:8%;
    
		transition: opacity 1s; 
    max-width:100px;
		font-size:23px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		  font-weight: bold;
		text-decoration: none;
				outline: none;
		color: white;
		background-color: transparent;
			border: solid 2px;
	

		}

		#showOtherOpt:hover {background-color:#48d4ff ;color:rgb(92, 5, 5);}

		#showOtherOpt:active {
		background-color:rgb(235, 223, 58);
	
		transform: translateY(4px);
    	
		}
.noteKey {
		opacity: 1;
		width:10%;
		height:15%;
    max-width:35px;
    margin-left:5px;
    max-height:35px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		font-weight: bold;
		text-decoration: none;
		outline: none;
		color: rgb(0, 0, 0);
    font-size:10px;
    min-width:20px;
    min-height:30px;
    background-color:rgb(246, 241, 241);
    border:mone;
		/* border-radius:5px; */

		box-shadow: 0 9px #b8b8b8;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; 
		}

		.noteKey:hover {
    background-color: rgb(235, 223, 58);
    box-shadow: 0 9px rgb(213, 190, 19);color:#333131;
    border:mone;
    }

		.noteKey:active {
		background-color:rgb(235, 223, 58);
		box-shadow: 0 5px rgb(213, 190, 19);
		transform: translateY(4px);
        border:mone;
   
    	
		}


#holdDoc {
		opacity: 1;
		width:10%;
		height:15%;
    max-width:35px;
    margin-left:5px;
     max-height:35px;
     font-size:18px;
		cursor: pointer;
		z-index:1;
		text-align: center;
		font-weight: bold;
		text-decoration: none;
		outline: none;
		color: white;
   
    min-width:20px;
    min-height:30px;
    background-color: transparent;
		border: solid 2px;
        -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; 
		}

		#holdDoc:hover {background-color:rgb(255, 255, 255);color:black}

		#holdDoc:active {
		background-color:rgb(255, 255, 255);
		transform: translateY(4px);
    	
		}


    
			.lib {
		opacity: 1;
		width:200px;
		height:200px;
		transition: opacity 1s; 
 
		font-size: 23px;
		cursor: pointer;
		z-index:1;
  margin:0.5%;
		text-align: center;
		  font-weight: bold;
		text-decoration: none;
		outline: none;
		color: #fff;
    background-color: transparent;
		border: solid 2px;

		}
	


		.lib:hover {background-color: rgb(255, 255, 255);color:#333131}

		.lib:active {
		background-color:rgb(255, 255, 255);
		transform: translateY(4px);
    	
		}



.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 5px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background:#3091ff;
border:solid;
border-width: 1px;
border-color:#000000;
  cursor: pointer;
  transform: rotate(45deg);
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #30e3ff;
  cursor: pointer;
    transform: rotate(45deg);
}

.matrixIndexNum{
 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

#howlerSpeedSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background:gold;
border:solid;
border-width: 1px;
border-color:#000000;
  cursor: pointer;
  transform: rotate(0deg);
}

#howlerSpeedSlider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: gold;
  cursor: pointer;
  transform: rotate(0deg);
}


/* 
@import "compass/css3";

body{ 
  background:radial-gradient(220% 125% at top center,rgb(1, 15, 44) 20%,rgba(105, 2, 36, 0.863) 35%,rgb(22, 20, 20) 65%,rgb(29, 29, 29)); 
  background-attachment:fixed; 

}
 */


